In [1]:
import pandas as pd

data = pd.read_csv('data_concated/data.csv')
aapl_data = data[data['symbol'] == 'AAPL']
aapl_data

,Date,symbol,Adj Close,Open,High,Low,Close,Volume
9,2022-09-01,AAPL,157.028458,156.639999,158.419998,154.669998,157.960007,74229900.0
3942,2022-09-02,AAPL,154.891129,159.750000,160.360001,154.970001,155.809998,76957800.0
7875,2022-09-06,AAPL,153.618683,156.470001,157.089996,153.690002,154.529999,73714800.0
11808,2022-09-07,AAPL,155.040237,154.820007,156.669998,153.610001,155.960007,87449600.0
15741,2022-09-08,AAPL,153.549088,154.639999,156.360001,152.679993,154.460007,84923800.0
...,...,...,...,...,...,...,...,...
992649,2023-08-28,AAPL,180.190002,180.089996,180.589996,178.550003,180.190002,43820700.0
996771,2023-08-29,AAPL,184.119995,179.699997,184.899994,179.500000,184.119995,53003900.0
1000893,2023-08-30,AAPL,187.649994,184.940002,187.850006,184.740005,187.649994,60813900.0
1005015,2023-08-31,AAPL,187.869995,187.839996,189.119995,187.479996,187.869995,60794500.0
1009137,2023-09-01,AAPL,189.460007,189.490005,189.919998,188.279999,189.460007,45732600.0

In [4]:
unique_dates = aapl_data['Date'].unique()
print(len(unique_dates))

252

In [6]:
print(len(data))

1013251